<ul class="nav">
{%if app.session.get('user_auth_token')%}
    <li><a href="/events">Events</a></li>
    <li><a href="/security/logout">Déconnexion</a></li>
{%else%}
    <li><a href="{{path('security_login')}}">Connexion</a></li>
{%endif%}
</ul>
